<button mat-icon-button [routerLink]="['/']" aria-label="Back" class="arrow-button">
  <img src="assets/arrow-left-icon.svg" alt="Back" />
</button>

<!-- logo for mobile -->
<img src="/assets/logo_p6.png" alt="logo" id="logo" class="hidden" />

<div class="center">
  <h4>Se connecter</h4>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label for="emailOrUsername">E-mail ou nom d’utilisateur</label>
    <input id="emailOrUsername" formControlName="emailOrUsername" matInput class="custom-input" type="text" />

    <label for="password">Mot de passe</label>
    <input id="password" formControlName="password" matInput class="custom-input" type="password" />

    <div class="center">
      <button mat-button type="submit" class="purple-button">
        Se connecter
      </button>
    </div>
  </form>
</div>