.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

mat-form-field {
    display: block;
    width: 300px;
    margin-bottom: 8px;
}

h1 {
    margin-bottom: 20px !important;
}