<button mat-icon-button [routerLink]="['/']">←</button>
<div class="center">
  <h4>Inscription</h4>
  <form>
    <label for="username">Nom d’utilisateur</label><br>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput type="text" id="username" name="username" />
    </mat-form-field>

    <label for="email">Adresse e-mail</label><br>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput type="text" id="email" name="email" />
    </mat-form-field>

    <label for="password">Mot de passe</label>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput id="password" name="password" type="password" />
    </mat-form-field>
    <div class="center">
      <button mat-raised-button color="primary" type="submit" value="Submit" (click)="register()">S'inscrire</button>
    </div>
  </form>
</div>