.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: #EEEEEE;
  padding: 20px;
  border-radius: 10px;
  width: calc(50% - 2rem);
  box-sizing: border-box;
}

.container-padding {
  margin: 40px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
  margin: 20px auto;
}

.cards-container .card button {
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    margin: 10px;
  }

  .cards-container {
    gap: 0px !important;
    margin: 0px auto;
    justify-content: center;
  }
}

.page-container {
  margin: 0 auto;
  padding: 20px;
}

.card p {
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}