.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: #EEEEEE;
  padding: 16px;
  border-radius: 8px;
  width: calc(50% - 0.5rem);
  box-sizing: border-box;
  transition: background-color 0.1s ease;
}

.container-padding {
  margin: 40px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.cards-container .card button {
  display: block;
  margin: 0 auto;
}

.page-container {
  margin: 0 auto !important;
  padding: 30px !important;
}

.card p {
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1rem;
  margin-bottom: 16px;
}

.purple-button {
  width: 160px !important;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    margin: 10px;
  }

  .cards-container {
    gap: 0px !important;
    margin: 0px auto;
    justify-content: center;
  }

  .page-container {
    padding: 16px 12px !important;
  }
}