<ng-container *ngIf="!isHomepage()">
  <nav class="navbar" *ngIf="isPublicRoute()">
    <img class="navbar-img" src="assets/logo_p6.png" alt="Logo MDD" />
  </nav>

  <nav class="navbar" *ngIf="!isPublicRoute()">
    <img class="navbar-img" src="assets/logo_p6.png" alt="Logo MDD" />
    <div class="navbar-buttons">
      <button mat-button class="button-red" (click)="logout()">Se déconnecter</button>
      <button mat-button routerLinkActive="button-purple" [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/posts']">Articles</button>
      <button mat-button routerLinkActive="button-purple" [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/topics']">Thèmes</button>
      <a [routerLink]="['/me']" routerLinkActive="active-profile" [routerLinkActiveOptions]="{ exact: true }"
        class="profile-button">
        <img class="navbar-img" src="assets/profile.png" alt="Profile" />
      </a>
    </div>
  </nav>
</ng-container>