.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-form-field {
  display: block;
  width: 300px;
  margin-bottom: 8px;
}

.purple-button {
  background-color: #7763C5;
  color: white;
  border-radius: 8px;
  height: 44px;
  min-width: 130px !important;
  box-shadow: none !important;
  margin: 20px;
  font-family: 'Inter', sans-serif !important;
  font-weight: 700;
  font-size: 16px;
}

.purple-button:hover {
  background-color: #6050a2;
  box-shadow: none !important;
}

.user-input {
  width: 218px;
  padding: 15px 16px;
  border-radius: 8px;
  border: 1px solid #000000;
  font-size: 1rem;
  outline: none;
  display: block;
  margin-bottom: 24px;
}

.user-input:focus {
  border-color: #4a148c;
  box-shadow: 0 0 5px rgba(75, 0, 130, 0.5);
}

form {
  margin-top: 1rem;
}

h3 {
  font-size: 24px !important;
  font-weight: 400 !important;
  margin-bottom: 20px !important;
}

label {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1rem !important;
}

.mat-error {
  font-size: 0.75rem;
  color: #f44336;
  display: block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  width: 236px;
  text-align: left;
  white-space: normal;
  margin: -12px 0 16px 0;
  word-break: break-word;
}

.arrow-button {
  border: none;
  background: transparent;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  margin: 12px 36px;
}

.arrow-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.arrow-button img {
  width: 40px;
  height: 40px;
  margin: 0.75rem 2rem;
  display: block;
  pointer-events: none;
}

.hidden {
  display: none !important;
}

#logo {
  width: 250px;
  margin: 0 auto;
  display: block;
}

/* show logo on mobile */
@media (max-width: 768px) {
  #logo.hidden {
    display: block !important;
  }
}