<button mat-icon-button [routerLink]="['/']" aria-label="Back" class="arrow-button">
  <img src="assets/arrow-left-icon.svg" alt="Back" />
</button>

<!-- logo for mobile -->
<img src="/assets/logo_p6.png" alt="logo" id="logo" class="hidden" />

<div class="center">
  <h4>Inscription</h4>
  <form #registerFormRef [formGroup]="registerForm" (ngSubmit)="register()">
    <label for="username">Nom d’utilisateur</label>
    <input id="username" formControlName="username" matInput class="custom-input" type="text" />
    <div *ngIf="submitted && registerForm.get('username')?.invalid" class="mat-error">
      Le nom d’utilisateur est requis.
    </div>

    <label for="email">Adresse e-mail</label>
    <input id="email" formControlName="email" matInput class="custom-input" type="email" />
    <div *ngIf="submitted && registerForm.get('email')?.invalid" class="mat-error">
      <div *ngIf="registerForm.get('email')?.errors?.['required']">L’adresse e-mail est requise.</div>
      <div *ngIf="registerForm.get('email')?.errors?.['email']">Format d’e-mail invalide.</div>
    </div>

    <label for="password">Mot de passe</label>
    <input id="password" formControlName="password" matInput class="custom-input" type="password" />
    <div *ngIf="submitted && registerForm.get('password')?.invalid" class="mat-error">
      <div *ngIf="registerForm.get('password')?.errors?.['required']">Le mot de passe est requis.</div>
      <div *ngIf="registerForm.get('password')?.errors?.['pattern']">
        Le mot de passe doit contenir au moins 8 caractères, une majuscule, une minuscule, un chiffre et un caractère
        spécial.
      </div>
    </div>

    <div class="center">
      <button mat-button type="submit" class="purple-button">
        S'inscrire
      </button>
    </div>
  </form>
</div>