<div class="page-container">
  <div class="center">
    <h2>Profil utilisateur</h2>
    <form [formGroup]="profileForm" (ngSubmit)="updateUser()">

      <label for="username">Nom d’utilisateur</label>
      <input id="username" formControlName="username" class="custom-input" type="text" />
      <div *ngIf="profileForm.get('username')?.invalid && profileForm.get('username')?.touched" class="error">
        Le nom d’utilisateur est requis.
      </div>

      <label for="email">E-mail</label>
      <input id="email" formControlName="email" class="custom-input" type="email" />
      <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="error">
        Un e-mail valide est requis.
      </div>

      <label for="password">Mot de passe</label>
      <input id="password" formControlName="password" class="custom-input" type="password" />
      <div *ngIf="profileForm.get('password')?.invalid && profileForm.get('password')?.touched" class="error">
        Mot de passe invalide.
      </div>

      <div class="center">
        <button type="submit" class="purple-button" [disabled]="profileForm.invalid">
          Sauvegarder
        </button>
      </div>
    </form>
  </div>
  <hr />
  <div class="center">
    <h2>Abonnements</h2>
    <div *ngIf="userSubscriptions.length > 0" class="center">
      <div *ngFor="let topic of userSubscriptions" class="topic-item">
        {{ topic.title }}
        <button type="button" class="unsubscribe-button" (click)="unsubscribe(topic.id)">
          Se désabonner
        </button>
      </div>
    </div>
  </div>
</div>