.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 95vw;
  margin: 20px auto;
  padding: 0 1rem;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}