<div class="page-container" *ngIf="post">
  
  <div class="post-header">
    <button mat-icon-button [routerLink]="['/posts']" aria-label="Back" class="arrow-button">
      <img src="assets/arrow-left-icon.svg" alt="Back" />
    </button>
    <h2>{{ post.title }}</h2>
  </div>

  <div class="left">
    <div class="post-data">
      <h4>{{ post.created_at | date:'mediumDate' }}</h4>
      <h4>{{ post.username }}</h4>
      <h4>{{ post.topic_title }}</h4>
    </div>
    <p>{{ post.content }}</p>

    <hr />

    <h4>Commentaires</h4>
    <div class="comments-section">
      <div class="comments">

        <!-- comments -->
        <div class="comment-row" *ngFor="let comment of post.comments">
          <p class="username">{{ comment.username }}</p>
          <textarea class="comment-box" rows="3" readonly>{{ comment.content }}</textarea>
        </div>

      </div>

      <!-- input -->
      <div class="comment-input-wrapper" [formGroup]="commentForm">
        <textarea formControlName="comment" class="comment-input" rows="4" placeholder="Écrivez ici votre commentaire"></textarea>

        <!-- validation -->
        <div *ngIf="commentForm.get('comment')?.invalid && commentForm.get('comment')?.touched" class="mat-error">
          <div *ngIf="commentForm.get('comment')?.errors?.['required']">
            Le commentaire est requis.
          </div>
        </div>

        <!-- add button -->
        <button mat-icon-button type="button" class="button-wrapper" (click)="addComment()">
          <img class="comment-button" src="assets/paper_plane.svg" alt="Add comment" />
        </button>
      </div>
    </div>
  </div>

</div>