<div class="page-container" *ngIf="post">
  
  <div class="post-header">
    <button mat-icon-button [routerLink]="['/posts']" aria-label="Back" class="arrow-button">
      <img src="assets/arrow-left-icon.svg" alt="Back" />
    </button>
    <h2>{{ post.title }}</h2>
  </div>

  <div class="left">
    <div class="post-data">
      <h4>{{ post.created_at | date:'mediumDate' }}</h4>
      <h4>{{ post.username }}</h4>
      <h4>{{ topicTitle }}</h4>
    </div>
    <p>{{ post.content }}</p>
  </div>

  <hr />

  <div class="left comments">
    <h4>Commentaires</h4>
    <div class="comment-row" *ngFor="let comment of post.comments">
      <p class="username">{{ comment.username }}</p>
      <textarea class="comment-box" rows="3" readonly>{{ comment.content }}</textarea>
    </div>

    <div class="comment-input-wrapper">
      <mat-form-field appearance="outline" class="comment-input-field">
        <textarea matInput placeholder="Écrivez ici votre commentaire"
          [(ngModel)]="newComment" rows="3" class="comment-input"></textarea>
      </mat-form-field>
      <button mat-icon-button class="button-wrapper" (click)="addComment()">
        <img class="comment-button" src="assets/paper_plane.svg" alt="Add comment" />
      </button>
    </div>
  </div>

</div>