<button mat-icon-button [routerLink]="['/']">←</button>
<div class="center">
  <h4>Se connecter</h4>
  <form>
    <label for="emailOrUsername">E-mail ou nom d’utilisateur</label><br>
    <input type="text" id="emailOrUsername" name="emailOrUsername"><br><br>
    <label for="password">Mot de passe</label><br>
    <input type="text" id="password" name="password"><br><br>
    <div class="center">
      <button mat-raised-button color="primary" type="submit" value="Submit" (click)="login()">Se connecter</button>
    </div>
  </form>
</div>