<div class="container-padding cards-container">
  <div class="card">
    <h3>Titre du thème</h3>
    <p>Descirption: Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim faucibus rhoncus. Morbi erat
      nibh, consectetur
      vitae ultrices sit amet, malesuada eget mauris. Ut eleifend dui ut facilisis bibendum. Fusce lectus ex, viverra
      eget
      sagittis ut, consectetur ac sem.</p>
    <div class="center">
      <button mat-raised-button color="primary" (click)="subscribe(1)">S'abonner</button>
    </div>
  </div>
  <div class="card">
    <h3>Titre du thème</h3>
    <p>Descirption: Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim faucibus rhoncus. Morbi erat
      nibh, consectetur
      vitae ultrices sit amet, malesuada eget mauris. Ut eleifend dui ut facilisis bibendum. Fusce lectus ex, viverra
      eget
      sagittis ut, consectetur ac sem.</p>
    <div class="center">
      <button mat-raised-button color="primary" (click)="subscribe(1)">S'abonner</button>
    </div>
  </div>
  <div class="card">
    <h3>Titre du thème</h3>
    <p>Descirption: Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim faucibus rhoncus. Morbi erat
      nibh, consectetur
      vitae ultrices sit amet, malesuada eget mauris. Ut eleifend dui ut facilisis bibendum. Fusce lectus ex, viverra
      eget
      sagittis ut, consectetur ac sem.</p>
    <div class="center">
      <button mat-raised-button color="primary" (click)="subscribe(1)">S'abonner</button>
    </div>
  </div>
  <div class="card">
    <h3>Titre du thème</h3>
    <p>Descirption: Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim faucibus rhoncus. Morbi erat
      nibh, consectetur
      vitae ultrices sit amet, malesuada eget mauris. Ut eleifend dui ut facilisis bibendum. Fusce lectus ex, viverra
      eget
      sagittis ut, consectetur ac sem.</p>
    <div class="center">
      <button mat-raised-button color="primary" (click)="subscribe(1)">S'abonner</button>
    </div>
  </div>
</div>